$color--white: #ffffff;
$color--black: #000000;
$color--light-grey: #e6e6e6;
$color--grey: #cccccc;
$color--dark-grey: #7b7b7b;
$color--primary: #2aa1c0;
$color--secondary: #0e647d;
html {
  font-family: Arial, sans-serif;
  margin: 10px 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-align: center;
  font-size: x-large;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  // PC・タブレット用
  @media screen and (min-width: 481px) {
    font-size: xx-large;
  }
}

.prefecture-check-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  grid-gap: 0.1em;
  background-color: $color--white;
  padding: 30px;
  margin: 10px 0px;
}
